<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>
<p th:text="${message}"></p>
<h2>Do edge detection on an image"</h2>

<h2>Upload the image:</h2>
	<form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
	Upload your image please:
	<input type="file" name="file" id="file"/>
	<input type="submit" value="upload" name="upload" id="upload" />
	<form:errors path="file" cssStyle="color: #ff0000;" />
	</form>


</body>
</html>